# EV Chargers

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import sqlite3 as sq

In [3]:
conn = sq.connect('registration.sqlite')
conn1 = sq.connect('station.sqlite')
conn2 = sq.connect('count.sqlite')

### CSV Imports

In [4]:
#import the GDP csv
csv_file = "data/reg_data.csv"
registrationDf = pd.read_csv(csv_file, encoding ="ISO-8859-1")
registrationDf.head()

        State   Aprx_Registration_Count
0     Alabama                        900
1      Alaska                        370
2     Arizona                       9820
3    Arkansas                        270
4  California                     179600

In [5]:
registrationDf.columns

Index(['State', ' Aprx_Registration_Count '], dtype='object')

In [6]:
registrationDfCopy= registrationDf[['State', ' Aprx_Registration_Count ']].copy()

In [7]:
registrationDfCopy.to_sql(name='registration', con=conn, if_exists='append', index=False)

C:\Users\tinad\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [8]:
pd.read_sql_query('select * from registration', con=conn)

                   State   Aprx_Registration_Count
0                Alabama                        900
1                 Alaska                        370
2                Arizona                       9820
3               Arkansas                        270
4             California                     179600
5               Colorado                       7750
6            Connecticut                       2710
7               Delaware                        400
8   District Of Columbia                        660
9                Florida                      16600
10               Georgia                      13530
11                Hawaii                       5360
12                 Idaho                        710
13              Illinois                       7950
14               Indiana                       1740
15                  Iowa                        610
16                Kansas                        970
17              Kentucky                        730
18             Louisiana                        770
19                 Maine                        470
20              Maryland                       4590
21         Massachusetts                       5520
22              Michigan                       2730
23             Minnesota                       2730
24           Mississippi                        260
25              Missouri                       2110
26               Montana                        330
27              Nebraska                        520
28                Nevada                       3030
29         New Hampshire                        650
30            New Jersey                       6610
31            New Mexico                        780
32              New York                      10940
33        North Carolina                       4540
34          North Dakota                        140
35                  Ohio                       3790
36              Oklahoma                       1380
37                Oregon                       9550
38          Pennsylvania                       4390
39          Rhode Island                        380
40        South Carolina                       1220
41          South Dakota                        180
42             Tennessee                       2970
43                 Texas                      14390
44                  Utah                       3410
45               Vermont                        750
46              Virginia                       4290
47            Washington                      19900
48         West Virginia                        140
49             Wisconsin                       2700
50               Wyoming                        100

In [9]:
#import the countries csv
csv_file = "data/station_data.csv"
stationDf = pd.read_csv(csv_file, encoding ="ISO-8859-1")
stationDf.head()

,Station_Name,Street_Address,City,State,ZIP,Latitude,Longitude,Country
0,City of Sacramento - Capitol Parking Garage,1015 L St,Sacramento,CA,95814.0,38.578380,-121.492600,US
1,Los Angeles Convention Center,1201 S Figueroa St,Los Angeles,CA,90015.0,34.040570,-118.268762,US
2,LADWP - John Ferraro Building,111 N Hope St,Los Angeles,CA,90012.0,34.057922,-118.249800,US
3,Cherokee & Hollywood Parking Garage,1718 N Cherokee Ave,Los Angeles,CA,90028.0,34.102404,-118.334758,US
4,CITYOFSANTAROSA,100 Santa Rosa Ave,Santa Rosa,CA,95404.0,38.437875,-122.710897,US

In [10]:
#preview the count
stationDf.columns

Index(['Station_Name', 'Street_Address', 'City', 'State', 'ZIP', 'Latitude',
       'Longitude', 'Country'],
      dtype='object')

In [11]:
Station_Count = stationDf.groupby(["State"]).count()["Station_Name"]

In [12]:
#import the GDP csv
csv_file = "data/Count.csv"
CountDf = pd.read_csv(csv_file, encoding ="ISO-8859-1")
CountDf.head()

   Station_Count       State  Registration_Count
0             18     Alabama                 900
1            133      Alaska                 370
2             81     Arizona                9820
3            454    Arkansas                 270
4           5524  California              179600

In [13]:
CountDf.columns

Index(['Station_Count', 'State', 'Registration_Count'], dtype='object')

In [14]:
CountDf.to_sql(name='count', con=conn2, if_exists='append', index=False)

In [15]:
pd.read_sql_query('select * from count', con=conn2)

    Station_Count                 State  Registration_Count
0              18               Alabama                 900
1             133                Alaska                 370
2              81               Arizona                9820
3             454              Arkansas                 270
4            5524            California              179600
5             789              Colorado                7750
6             345           Connecticut                2710
7             135              Delaware                 400
8              53  District Of Columbia                 660
9            1287               Florida               16600
10            804               Georgia               13530
11            279                Hawaii                5360
12            130                 Idaho                 710
13             75              Illinois                7950
14            506               Indiana                1740
15            217                  Iowa                 610
16            205                Kansas                 970
17            124              Kentucky                 730
18             92             Louisiana                 770
19            657                 Maine                 470
20            627              Maryland                4590
21            173         Massachusetts                5520
22            411              Michigan                2730
23            347             Minnesota                2730
24            422           Mississippi                 260
25             65              Missouri                2110
26             52               Montana                 330
27            640              Nebraska                 520
28             26                Nevada                3030
29             84         New Hampshire                 650
30            115            New Jersey                6610
31            336            New Mexico                 780
32             83              New York               10940
33            263        North Carolina                4540
34           1450          North Dakota                 140
35            481                  Ohio                3790
36             81              Oklahoma                1380
37            635                Oregon                9550
38            493          Pennsylvania                4390
39             93          Rhode Island                 380
40            247        South Carolina                1220
41             41          South Dakota                 180
42            380             Tennessee                2970
43           1220                 Texas               14390
44            256                  Utah                3410
45            625               Vermont                 750
46            230              Virginia                4290
47            943            Washington               19900
48            305         West Virginia                 140
49             85             Wisconsin                2700
50             56               Wyoming                 100

### Creating New Data With Select Columns

In [16]:
#ev_df
stationDfCopy= stationDf[['Station_Name', 'Street_Address', 'City', 'State', 'ZIP', 'Latitude',
       'Longitude', 'Country']].copy()

In [17]:
stationDfCopy.to_sql(name='station', con=conn, if_exists='append', index=False)

In [18]:
pd.read_sql_query('select * from station', con=conn)

,Station_Name,Street_Address,City,State,ZIP,Latitude,Longitude,Country
0,City of Sacramento - Capitol Parking Garage,1015 L St,Sacramento,CA,95814.0,38.578380,-121.492600,US
1,Los Angeles Convention Center,1201 S Figueroa St,Los Angeles,CA,90015.0,34.040570,-118.268762,US
2,LADWP - John Ferraro Building,111 N Hope St,Los Angeles,CA,90012.0,34.057922,-118.249800,US
3,Cherokee & Hollywood Parking Garage,1718 N Cherokee Ave,Los Angeles,CA,90028.0,34.102404,-118.334758,US
4,CITYOFSANTAROSA,100 Santa Rosa Ave,Santa Rosa,CA,95404.0,38.437875,-122.710897,US
5,California Air Resources Board,9530 Telstar Ave,El Monte,CA,91731.0,34.068720,-118.064000,US
6,Scripps Green Hospital,10666 N Torrey Pines Rd,La Jolla,CA,92037.0,32.899470,-117.243000,US
7,Santa Monica Place Mall Garage #7 - Civic Cent...,395 Broadway,Santa Monica,CA,90401.0,34.013658,-118.493749,US
8,San Diego Wild Animal Park,15500 San Pasqual Valley Rd,Escondido,CA,92027.0,33.098589,-117.004433,US
9,Galpin Motors,15421 Roscoe Blvd,Sepulveda,CA,91343.0,34.221665,-118.468371,US
10,Galleria at Tyler,1299 Galleria at Tyler,Riverside,CA,92503.0,33.911150,-117.459100,US
11,City of Pasadena - Holly Street Garage,150 E Holly St,Pasadena,CA,91103.0,34.147620,-118.147111,US
12,City of Pasadena - De Lacey Garage,45 De Lacey Ave,Pasadena,CA,91105.0,34.145015,-118.152223,US
13,City of Pasadena - Schoolhouse Garage,33 E Green St,Pasadena,CA,91105.0,34.144506,-118.150015,US
14,Pasadena Hilton,150 S Los Robles,Pasadena,CA,91101.0,34.142973,-118.140553,US
15,Bristol Farms,606 Fair Oaks Ave,South Pasadena,CA,91030.0,34.118433,-118.149597,US
16,Hyatt Regency Long Beach,200 S Pine Ave,Long Beach,CA,90802.0,33.763700,-118.192000,US
17,Hilton - Los Angeles International Airport,5711 W Century Blvd,Los Angeles,CA,90045.0,33.946181,-118.381610,US
18,Los Angeles International Airport (LAX) - Lot 6,1 World Way,Los Angeles,CA,90045.0,33.943250,-118.403342,US
19,Northridge Fashion Center,9301 Tampa Ave,Northridge,CA,91324.0,34.237946,-118.555646,US
20,Ontario Airport Hilton,700 N Haven Ave,Ontario,CA,91764.0,34.071220,-117.575000,US
21,Courtyard Marriott - Oxnard Ventura,600 E Esplanade Dr,Oxnard,CA,93030.0,34.229350,-119.173000,US
22,Hilton - Palm Springs,400 E Tahquitz Canyon Way,Palm Springs,CA,92262.0,33.823353,-116.543600,US
23,East Bay Mini,4340 Rosewood Dr,Pleasanton,CA,94588.0,37.700187,-121.876172,US
24,CNTYOFRIVERSIDE,3535 12th Street,Riverside,CA,92501.0,33.977163,-117.374653,US
25,Inland Empire Foods,5425 Wilson St,Riverside,CA,92509.0,34.018900,-117.380000,US
26,Sacramento International Airport - Daily A Lot,Lindbergh Dr,Sacramento,CA,95837.0,38.690050,-121.588890,US
27,City of Santa Monica - Airport,3223 Donald Douglas Loop,Santa Monica,CA,90405.0,34.017563,-118.447475,US
28,City of Santa Monica - Pier,200 Santa Monica Pier,Santa Monica,CA,90405.0,34.010021,-118.495830,US
29,Sherman Oaks Fashion Square,14006 Riverside Dr,Sherman Oaks,CA,91423.0,34.156943,-118.435252,US
...,...,...,...,...,...,...,...,...
23146,RCS,Gate Pkwy,Jacksonville,FL,32256.0,30.247578,-81.521830,US
23147,BERTS BARRACUDA,10525 49th St N,Clearwater,FL,33762.0,27.867773,-82.699420,US
23148,PARMER AUSTIN,13011c McCallen Pass,Austin,TX,78753.0,30.408655,-97.662947,US
23149,COLO STATE UNIV,1400 W Elizabeth St,Fort Collins,CO,80521.0,40.575160,-105.101929,US
23150,COLO STATE UNIV,1634 W Plum St,Fort Collins,CO,80521.0,40.576955,-105.108015,US
23151,WCL,2039 W 4000 S,Roy,UT,84067.0,41.190091,-112.029171,US
23152,WINTER PARK,2206 Cady Way,Winter Park,FL,32792.0,28.594616,-81.322425,US
23153,UBER TECH,400 Centennial Pkwy,Louisville,CO,80027.0,39.965214,-105.165270,US
23154,WCL,131 S 7400 E,Huntsville,UT,84317.0,41.261871,-111.770327,US
23155,Domaine Serene,6555 NE Hilltop Ln,Dayton,OR,97114.0,45.270090,-123.069863,US
23156,Super 8 by Wyndham - Cooke City,303 E Main St,Cooke City,MT,59020.0,45.020792,-109.931145,US
23157,Desert Botanical Garden,1201 N. Galvin Pkwy,Phoenix,AZ,85008.0,33.462720,-111.944439,US
23158,KO'OLINA BC,92-161 Waipahe Pl,Kapolei,HI,96707.0,21.331613,-158.120735,US
23159,STATEOFUTDAS,300 State St,Salt Lake City,UT,84103.0,40.775543,-111.887754,US
23160,SULLIVAN COUNTY,14 Sturgis Rd,Monticello,NY,12701.0,41.660084,-74.691078,US
23161,HIGH ASSOCIATES,1858 Charter Ln,Lancaster,PA,17601.0,40.052000,-76.249497,US
23162,CT4021-COURTHSE,355 W Main St,Malone,NY,12953.0,44.849740,-74.295105,US
23163,KO'OLINA BC,92-149 Waipahe Pl,Kapolei,HI,96707.0,21.330809,-158.121260,US
23164,KO'OLINA BC,92-101 Mauloa Pl,Kapolei,HI,96707.0,21.332437,-158.120051,US
23165,HARLEY-DAVIDSON,1425 Eden Road,York,PA,17402.0,39.985160,-76.712990,US
23166,MORTON SOLAR,2166 E Morgan Ave,Evansville,IN,47711.0,37.991788,-87.524412,US
23167,ROCHESTER NY,10 Fitzhugh St N,Rochester,NY,14614.0,43.155933,-77.614075,US
23168,TWO NINE NORTH,1955 30th St,Boulder,CO,80301.0,40.020955,-105.253937,US
23169,PEOPLESBANK,1866 Northampton St,Holyoke,MA,1040.0,42.199373,-72.630919,US
23170,EV ARC,Camp Roberts Northbound Rest Area,San Miguel,CA,93451.0,35.831372,-120.758419,US
23171,U.S.B.STATION#1,180 Schwenk Dr,Kingston,NY,12401.0,41.937650,-74.025314,US
23172,EV ARC,Camp Roberts Southbound Rest Area,Bradley,CA,93426.0,35.850233,-120.770224,US
23173,Webasto -,None,None,None,NaN,34.140864,-118.001962,US
23174,"Walmart 2104 - Newburgh, NY",1201 Route 300,Newburgh,NY,12550.0,41.497759,-74.073189,US
23175,Zeigler Ford Lincoln,2525 Bypass Rd,Elkhart,IN,46514.0,41.685703,-86.008698,US