In [1]:
import pandas as pd
import sqlite3

In [3]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("../Project 2/data1.sqlite")
df = pd.read_sql_query("SELECT * from alt_fuel", con)

In [4]:
# Verify that result of SQL query is stored in the dataframe
print(df.head())

                                  Station Name       Street Address  \
0  City of Sacramento - Capitol Parking Garage            1015 L St
1                Los Angeles Convention Center   1201 S Figueroa St
2                LADWP - John Ferraro Building        111 N Hope St
3          Cherokee & Hollywood Parking Garage  1718 N Cherokee Ave
4                              CITYOFSANTAROSA   100 Santa Rosa Ave

          City State    ZIP    Latitude     Longitude Country
0   Sacramento    CA  95814  38.5783802     -121.4926      US
1  Los Angeles    CA  90015    34.04057   -118.268762      US
2  Los Angeles    CA  90012   34.057922     -118.2498      US
3  Los Angeles    CA  90028   34.102404   -118.334758      US
4   Santa Rosa    CA  95404  38.4378748  -122.7108967      US

In [5]:
# Read sqlite query results into a pandas DataFrame
con2 = sqlite3.connect("../Project 2/sales_data.sqlite")
df2 = pd.read_sql_query("SELECT * from sales_data", con2)

In [6]:
# Verify that result of SQL query is stored in the dataframe
print(df2.head())

           Vehicle  Type 2011 2012 2013   2014    2015   2016   2017   TOTAL
0  Audi A3 Plug In  PHEV                                4,280  2,877   7,157
1     BMW Active E    EV       965                                       965
2           BMW i3    EV                 6,092  11,004  7,625  6,276  30,997
3           BMW i8  PHEV                   555   2,265  1,594    488   4,902
4           BMW X5  PHEV                           774  5,995  5,349  12,118

In [7]:
# Read sqlite query results into a pandas DataFrame
con3 = sqlite3.connect("../Project 2/reg_data.sqlite")
df3 = pd.read_sql_query("SELECT * from reg_data", con3)

In [8]:
# Verify that result of SQL query is stored in the dataframe
print(df3.head())

        State Aprx. Registration Count
0     Alabama                     900
1      Alaska                     370
2     Arizona                   9,820
3    Arkansas                     270
4  California                 179,600